body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#ruta {
  width: 200px;
  height: 100px;
  background-color: lightblue;
  margin: 20px auto;
  display: block; /* börjar som synlig */
  line-height: 100px;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  margin: 5px;
}
